<h3 class="text-center">List of cars:</h3>

<div *ngIf="!dataForView.cars" class="alert alert-warning">
  Loading...
</div>

<br>
<br>
<app-filter-cars *ngIf="dataForView.cars" [dataForView]="dataForView"></app-filter-cars>
<br>

<div *ngIf="message.length" class="alert alert-warning">{{message}}</div>

<table *ngIf="dataForView.cars" class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let th of dataForView.theads">
        {{th}}
        <i (click)="sort(th)" class="fa"
            [ngClass]="th !== objForSorting.prop ? 'fa-sort' : objForSorting.CSSclass"
            aria-hidden="true">
        </i>
      </th>
      <th>actions</th>
    </tr>
  </thead>

  <tbody *ngFor="let car of dataForView.cars;">
    <tr>
      <td>{{car.id}}</td>
      <td>
        <img [src]="'/assets/' + car.img" alt="">
      </td>
      <td>{{car.name}}</td>
      <td>{{car.year}}</td>
      <td>{{car.price}}</td>
      <td>
        <a [routerLink]="'/detail/' + car.id">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a (click)="deleteCar(car)" href="javascript:void(0)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
        <input type="checkbox"
          (change)="selectCar(car.id)"
          [checked]="carService.checkIfCarIsSelected(car.id)">
      </td>
    </tr>
  </tbody>
</table>
